body {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  margin-top: 64px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.caja-de-pan {
  display: flex;
  flex-direction: column;
}

.caja-de-pan .logo {
  color: rgb(26, 113, 36);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.section-title {
  color: #146a44;
  font-size: 24px;
}

.caja-de-pan .lists {
  padding: 0;
}

.caja-de-pan .item-list {
  list-style-type: none;
  margin-bottom: 8px;
}

.caja-de-pan .btn-pan {
  background-color: #7a93ac;
  border-radius: 4px;
  border: 1px solid #617073;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 8px;
}

.dialog {
  border-radius: 8px;
  border: 2px solid #095826;
  max-width: 300px;
  text-align: left;
  top: 250px;
}

dialog::backdrop {
  background: #146a44;
  mix-blend-mode: darken;
  opacity: 0.1;
}

.modal-title {
  text-align: center;
}
